name: Sauce Hero Automation 

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test_run:
    runs-on: ubuntu-latest 

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest-html # Por si no estaba en requirements

    - name: Install Playwright Browsers
      run: playwright install chromium

    - name: Run Tests
      run: python -m pytest --html=report.html

    - name: Upload Report
      if: always() 
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: |
          report.html
          screenshots/